{% extends "../../store/base.html" %} 
{% load static %} 
{% block title %}Dashboard{%endblock %} 
{% load account_custom_filters %}

{% block style_ %}
  .bi-star, .bi-star-fill {
    color: #0b5ed7;
  }
{% endblock style_ %}
  

{% block content %}

<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2 fw-bold">Your Dashboard</h1>
    </div>
    <br>
    <div class="col-12 d-flex justify-content-between">
      <div><p class="h5">Manage your <b>orders</b> and personal details</p></div>
      <div><a href="{% url 'account:edit_details' %}">Change Account Details</a></div>
    </div>
    <hr />
  </div>
  <div class="container" style="max-width: 1000px">
    {% if orders %}
    {% for order in orders %}
      <div class="row g-3 mb-5">
       
        <div class="col-12 bg-light p-3 d-flex justify-content-between">
          <div class="d-flex d-flex-inline">
  
            <div class="pe-3">{{ order.date_ordered|date }}</div>
            <div class="dropdown" style="margin-left: 15px;">
            <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
            <rounded-pill class="text-bg-light">
              Delivery Address
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </rounded-pill>
            </a>   
            <ul class="dropdown-menu" aria-labelledby="dropdownLink">
              <li class="item small">{{order.full_name}}</li>
              <li class="item small">{{order.address1}}</li>
              <li class="item small">{{order.address2}}</li>
              <li class="item small">{{order.state}}</li>
              <li class="item small">{{order.city}}</li>  
            </ul>
            </div>
            
          </div>
          <div class="text-center">Order Status: 
           {% if order.status == 1 %}
            <span style="color:blue">{{ order.get_status_display|title }}</span>
           {% elif order.status == 2 %}
            so
           {% endif %}
          </div>

          <div class="text-end">
            Total paid: <span class="fw-bold">GH₵ {{ order.total_price|format_currency }}</span>
          </div>
        </div>

        <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
          <div class="d-grid gap-2 ">
            <button class="btn btn-warning" type="button">Problem with order</button>
            <!-- <a class="btn btn-light" type="button">Leave a review</a> -->
          </div>
        </div>
  
        <div class="col-md-7 col-lg-8 p-0">
  
          {% for order_item in order.orderitem_set.all %}
  
            <div class="card border-0">
              <div class="row g-0">
                <div class="col-md-2 d-none d-md-block">
                  <a href="{{ order_item.product.get_absolute_url }}"><img class="img-fluid" style="width:90px" src="{{order_item.product.image.url}}" /></a>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-1">
                    <a class="text-decoration-none" href="{{ order_item.product.get_absolute_url }}">
                      <p class="card-text small" style="margin-left: 13px;">
                        {{order_item.product.title|title|slice:":40"}} 
                        <br>
                        {{order_item.product.title|title|slice:"40:80"}} 
                        <span class="text-muted" style="display: block;">GH₵ {{ order_item.product.price|format_currency }}</span>
                      </p>
                      <!-- <a class="btn btn-light" type="button">Leave a review</a> -->
                    </a>
                    
                    {% if not order_item.reviewed and order.status == 5 %}
                      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{order_item.product.id}}">Leave a review</button> 
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModal{{order_item.product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Product Review</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'account:submit_review' %}">
                  {% csrf_token %}
                  <div class="modal-body">
                      <input type="hidden" name="product_id" value="{{ order_item.product.id }}">
                      <input type="hidden" name="order" value="{{ order.id }}">
                      <div class="mb-2">
                          <span class="col-form-label">Product: {{order_item.product.title}}</span>
                      </div>
                      <div class="mb-3">
                          <label for="topic" class="col-form-label">Topic:</label>
                          <input type="text" name="topic" class="form-control" id="topic" required>
                      </div>
                      <div class="mb-3">
                          <label for="review" class="col-form-label">Review Content:</label>
                          <textarea class="form-control" name="review" id="review" required></textarea>
                      </div>
                      <div class="mb-3">
                        <div class="rating mb-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg>
                        </div>
                        <select name="rating" class="form-select" id="ratingDropdown" required>
                          <option selected>Select Rating</option>
                          <option value="5">5 Stars</option>
                          <option value="4">4 Stars</option>
                          <option value="3">3 Stars</option>
                          <option value="2">2 Stars</option>
                          <option value="1">1 Star</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add review</button>
                    </div>
                </form>
              </div>
            </div>

            <script>
              document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('ratingDropdown').addEventListener('change', function () {
                  const rating = parseInt(this.value);
                  const ratingDiv = document.querySelector('.rating');
                  ratingDiv.innerHTML = ''; 
            
                  // Add filled stars based on the selected rating
                  for (let i = 1; i <= 5; i++) {
                    if (i <= rating) {
                      ratingDiv.innerHTML += `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg> `;
                    } else {
                      ratingDiv.innerHTML += `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                      </svg> `;
                    }
                  }
                });
              });
            </script>
          </div>

          {% if not forloop.last %}
            <div class="mb-2"></div>
          {% endif %}
          
          
          {% endfor %}

          {% if not forloop.last %}
            <div class="mb-3"></div>
          {% endif %}
  
        </div>
  
      </div>
      {% endfor %}
      {% else %}
      <div><span class="h5">You have <b>no orders</b> yet!   - </span>    <a href="{% url 'store:product_all' %}">Start Shopping</a></div>
      {% endif %}

  </div>
  
</main>
  <script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
    });
    
    
  </script>

{% endblock %}