{% extends './base.html' %}
{% load humanize %}
{% load static %}

{% block title %}TechTrove Online Store{% endblock title %}


{% block style_ %}
  .text-muted {
    text-decoration: line-through;
    font-style: italic;
  }
  
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -2px;
  }

  .this {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
  }
{% endblock style_ %}
  
  

{% block content %}

    <main>
      <div class="container" style="max-width: 1000px">
        <!-- <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg>
          <div>
            COVID-19 - <u><a href="https://news.google.com/search?q=covid&hl=en-GB&gl=GB&ceid=GB%3Aen" target="_blank">Click here for our latest updates</a></u> on our stores, website and contact centre. Thank you for your patience and support.
          </div>
        </div> -->

          <!-- <div class="row g-3">
              <div class="alert alert-primary fw600 rounded-0 border-0 py-3" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle me-2"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
          COVID-19 - <u><a href="https://news.google.com/search?q=covid&hl=en-GB&gl=GB&ceid=GB%3Aen" target="_blank">Click here for our latest updates</a></u> on our stores, website and contact centre. Thank you for
          your patience and support.
        </div>
      </div> -->

        <div class="album py-5">
            <div class="container">
        
              <div class="pb-5 h2 fw-bold">Popular</div>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 ">
        
                {% for product in products %}
       
          
                      <div class="col">
                      <div class="card border-0 box-shadow h-100">
                          <a href="{% url 'store:product_detail' product.slug %}"><img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"></a>
                          <div class="card-body">
                          <p class="card-text">
                              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title|title|slice:":30" }}..</a>
                          </p>
                          <div class="d-flex justify-content-between align-items-center pb-1">
                            <b>GH₵ {{ product.price|floatformat:2|intcomma }}</b>
                          </div>
                          <small class="text-muted">GH₵ {{ product.past_price|floatformat:2|intcomma }}</small>
                          <!-- <div class="">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </div> -->
                          <!-- <button class="btn btn-outline-secondary d-flex this">Add to basket</button> -->
                          </div>
          
                      </div>
                      </div>
      
                {% endfor %}
                
              </div>
            </div>
        </div>
      </div>
    </main>

    
{% endblock content %}